In [1]:
import pandas as pd

dataset = pd.read_csv('BBC-Results.csv',sep=',')
dataset.columns = ['Timestamp', 'How many hours did you sleep last night?', 'Recognition Score', 'Temporal Memory Score', 'coluna4', 'coluna5']
dataset

,Timestamp,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score,coluna4,coluna5
0,11/12/2012 18:16:31,7,91,86,NaN,23.0
1,13/12/2012 14:31:16,"6,5",95,78,NaN,NaN
2,13/12/2012 14:31:30,7,95,56,NaN,NaN
3,13/12/2012 14:32:01,5,91,81,NaN,NaN
4,13/12/2012 14:34:07,"8,5",100,75,NaN,NaN
5,13/12/2012 14:34:16,7,87,80,NaN,NaN
6,13/12/2012 14:35:50,"6,5",91,95,NaN,NaN
7,13/12/2012 14:36:36,"8,5",95,91,NaN,NaN
8,13/12/2012 14:44:30,"6,5",91,81,NaN,NaN
9,13/12/2012 14:44:57,7,91,86,NaN,NaN
10,13/12/2012 14:48:38,8,100,79,NaN,NaN
11,13/12/2012 14:54:44,"7,5",100,87,NaN,NaN
12,13/12/2012 14:58:49,8,95,73,NaN,NaN
13,13/12/2012 15:01:56,7,79,78,NaN,NaN
14,13/12/2012 15:03:48,5,91,81,NaN,NaN
15,13/12/2012 15:07:31,7,100,95,NaN,NaN
16,13/12/2012 15:08:34,"7,5",100,70,NaN,NaN
17,13/12/2012 15:12:18,"8,5",100,95,NaN,NaN
18,13/12/2012 15:30:14,7,83,90,NaN,NaN
19,13/12/2012 16:00:34,"8,5",95,73,NaN,NaN
20,13/12/2012 16:07:53,4,91,86,NaN,NaN
21,13/12/2012 16:08:13,4,95,73,NaN,NaN
22,13/12/2012 18:48:48,"4,5",100,100,NaN,NaN
23,13/12/2012 20:19:32,7,70,82,NaN,NaN
24,14/12/2012 01:42:31,8,95,100,NaN,NaN
25,14/12/2012 01:55:20,9,45,54,NaN,NaN
26,14/12/2012 10:58:26,"5,5",100,79,NaN,NaN
27,16/12/2012 11:43:14,9,95,78,NaN,NaN
28,16/12/2012 11:58:39,8,83,70,NaN,NaN
29,16/12/2012 12:12:48,8,95,78,NaN,NaN
...,...,...,...,...,...,...
17533,24/03/2015 08:55:34,8,83,90,NaN,NaN
17534,24/03/2015 13:56:19,7,50,100,NaN,NaN
17535,25/03/2015 02:34:11,8,100,87,NaN,NaN
17536,25/03/2015 09:55:20,7,68,68,NaN,NaN
17537,25/03/2015 11:35:10,0,45,54,NaN,NaN
17538,25/03/2015 13:43:30,0,88,100,NaN,NaN
17539,25/03/2015 13:58:35,0,90,90,NaN,NaN
17540,25/03/2015 13:58:54,8,90,90,NaN,NaN
17541,25/03/2015 14:26:12,7,60,50,NaN,NaN
17542,25/03/2015 14:38:43,"7,5",84,72,NaN,NaN
17543,25/03/2015 17:44:39,"6,5",65,70,NaN,NaN
17544,26/03/2015 17:27:39,"2,5",100,100,NaN,NaN
17545,26/03/2015 21:00:22,7,95,86,NaN,NaN
17546,28/03/2015 13:03:38,"11,5",95,73,NaN,NaN
17547,29/03/2015 21:03:44,0,NaN,NaN,NaN,NaN
17548,29/03/2015 22:00:47,8,60,50,NaN,NaN
17549,30/03/2015 13:49:47,9,91,63,NaN,NaN
17550,30/03/2015 14:53:06,8,75,68,NaN,NaN
17551,30/03/2015 17:31:14,3,60,65,NaN,NaN
17552,30/03/2015 22:16:57,8,95,86,NaN,NaN
17553,30/03/2015 22:17:24,8,95,86,NaN,NaN
17554,30/03/2015 23:18:25,7,70,94,NaN,NaN
17555,31/03/2015 07:02:44,"7,5",79,75,NaN,NaN
17556,31/03/2015 19:22:14,8,0,0,NaN,NaN
17557,11/01/2016 06:18:34,8,NaN,NaN,NaN,NaN
17558,20/05/2016 13:48:07,1,ee,ee,NaN,NaN
17559,17/09/2016 05:37:22,"5,5",378,NaN,NaN,NaN
17560,17/09/2016 05:37:43,"5,5",279,NaN,NaN,NaN
17561,NaN,"6,695873604",0,NaN,NaN,NaN
17562,NaN,7,(...),NaN,NaN,NaN

In [2]:
dataset.isnull().sum()

Timestamp                                     279
How many hours did you sleep last night?      281
Recognition Score                             378
Temporal Memory Score                         408
coluna4                                     17563
coluna5                                     17562
dtype: int64

In [3]:
dataset = dataset.drop('coluna4', axis=1)
dataset = dataset.drop('coluna5', axis=1)
dataset

,Timestamp,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score
0,11/12/2012 18:16:31,7,91,86
1,13/12/2012 14:31:16,"6,5",95,78
2,13/12/2012 14:31:30,7,95,56
3,13/12/2012 14:32:01,5,91,81
4,13/12/2012 14:34:07,"8,5",100,75
5,13/12/2012 14:34:16,7,87,80
6,13/12/2012 14:35:50,"6,5",91,95
7,13/12/2012 14:36:36,"8,5",95,91
8,13/12/2012 14:44:30,"6,5",91,81
9,13/12/2012 14:44:57,7,91,86
10,13/12/2012 14:48:38,8,100,79
11,13/12/2012 14:54:44,"7,5",100,87
12,13/12/2012 14:58:49,8,95,73
13,13/12/2012 15:01:56,7,79,78
14,13/12/2012 15:03:48,5,91,81
15,13/12/2012 15:07:31,7,100,95
16,13/12/2012 15:08:34,"7,5",100,70
17,13/12/2012 15:12:18,"8,5",100,95
18,13/12/2012 15:30:14,7,83,90
19,13/12/2012 16:00:34,"8,5",95,73
20,13/12/2012 16:07:53,4,91,86
21,13/12/2012 16:08:13,4,95,73
22,13/12/2012 18:48:48,"4,5",100,100
23,13/12/2012 20:19:32,7,70,82
24,14/12/2012 01:42:31,8,95,100
25,14/12/2012 01:55:20,9,45,54
26,14/12/2012 10:58:26,"5,5",100,79
27,16/12/2012 11:43:14,9,95,78
28,16/12/2012 11:58:39,8,83,70
29,16/12/2012 12:12:48,8,95,78
...,...,...,...,...
17533,24/03/2015 08:55:34,8,83,90
17534,24/03/2015 13:56:19,7,50,100
17535,25/03/2015 02:34:11,8,100,87
17536,25/03/2015 09:55:20,7,68,68
17537,25/03/2015 11:35:10,0,45,54
17538,25/03/2015 13:43:30,0,88,100
17539,25/03/2015 13:58:35,0,90,90
17540,25/03/2015 13:58:54,8,90,90
17541,25/03/2015 14:26:12,7,60,50
17542,25/03/2015 14:38:43,"7,5",84,72
17543,25/03/2015 17:44:39,"6,5",65,70
17544,26/03/2015 17:27:39,"2,5",100,100
17545,26/03/2015 21:00:22,7,95,86
17546,28/03/2015 13:03:38,"11,5",95,73
17547,29/03/2015 21:03:44,0,NaN,NaN
17548,29/03/2015 22:00:47,8,60,50
17549,30/03/2015 13:49:47,9,91,63
17550,30/03/2015 14:53:06,8,75,68
17551,30/03/2015 17:31:14,3,60,65
17552,30/03/2015 22:16:57,8,95,86
17553,30/03/2015 22:17:24,8,95,86
17554,30/03/2015 23:18:25,7,70,94
17555,31/03/2015 07:02:44,"7,5",79,75
17556,31/03/2015 19:22:14,8,0,0
17557,11/01/2016 06:18:34,8,NaN,NaN
17558,20/05/2016 13:48:07,1,ee,ee
17559,17/09/2016 05:37:22,"5,5",378,NaN
17560,17/09/2016 05:37:43,"5,5",279,NaN
17561,NaN,"6,695873604",0,NaN
17562,NaN,7,(...),NaN

In [4]:
#Convertendo valores em strings para inteiro (Dessa forma fica mais fácil preencher os campos nulos com a média da coluna)
dataset['How many hours did you sleep last night?'] = pd.to_numeric(dataset['How many hours did you sleep last night?'], errors='coerce')
dataset['Recognition Score'] = pd.to_numeric(dataset['Recognition Score'], errors='coerce')
dataset['Temporal Memory Score'] = pd.to_numeric(dataset['Temporal Memory Score'], errors='coerce')
dataset

,Timestamp,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score
0,11/12/2012 18:16:31,7.0,91.0,86.0
1,13/12/2012 14:31:16,NaN,95.0,78.0
2,13/12/2012 14:31:30,7.0,95.0,56.0
3,13/12/2012 14:32:01,5.0,91.0,81.0
4,13/12/2012 14:34:07,NaN,100.0,75.0
5,13/12/2012 14:34:16,7.0,87.0,80.0
6,13/12/2012 14:35:50,NaN,91.0,95.0
7,13/12/2012 14:36:36,NaN,95.0,91.0
8,13/12/2012 14:44:30,NaN,91.0,81.0
9,13/12/2012 14:44:57,7.0,91.0,86.0
10,13/12/2012 14:48:38,8.0,100.0,79.0
11,13/12/2012 14:54:44,NaN,100.0,87.0
12,13/12/2012 14:58:49,8.0,95.0,73.0
13,13/12/2012 15:01:56,7.0,79.0,78.0
14,13/12/2012 15:03:48,5.0,91.0,81.0
15,13/12/2012 15:07:31,7.0,100.0,95.0
16,13/12/2012 15:08:34,NaN,100.0,70.0
17,13/12/2012 15:12:18,NaN,100.0,95.0
18,13/12/2012 15:30:14,7.0,83.0,90.0
19,13/12/2012 16:00:34,NaN,95.0,73.0
20,13/12/2012 16:07:53,4.0,91.0,86.0
21,13/12/2012 16:08:13,4.0,95.0,73.0
22,13/12/2012 18:48:48,NaN,100.0,100.0
23,13/12/2012 20:19:32,7.0,70.0,82.0
24,14/12/2012 01:42:31,8.0,95.0,100.0
25,14/12/2012 01:55:20,9.0,45.0,54.0
26,14/12/2012 10:58:26,NaN,100.0,79.0
27,16/12/2012 11:43:14,9.0,95.0,78.0
28,16/12/2012 11:58:39,8.0,83.0,70.0
29,16/12/2012 12:12:48,8.0,95.0,78.0
...,...,...,...,...
17533,24/03/2015 08:55:34,8.0,83.0,90.0
17534,24/03/2015 13:56:19,7.0,50.0,100.0
17535,25/03/2015 02:34:11,8.0,100.0,87.0
17536,25/03/2015 09:55:20,7.0,68.0,68.0
17537,25/03/2015 11:35:10,0.0,45.0,54.0
17538,25/03/2015 13:43:30,0.0,88.0,100.0
17539,25/03/2015 13:58:35,0.0,90.0,90.0
17540,25/03/2015 13:58:54,8.0,90.0,90.0
17541,25/03/2015 14:26:12,7.0,60.0,50.0
17542,25/03/2015 14:38:43,NaN,84.0,72.0
17543,25/03/2015 17:44:39,NaN,65.0,70.0
17544,26/03/2015 17:27:39,NaN,100.0,100.0
17545,26/03/2015 21:00:22,7.0,95.0,86.0
17546,28/03/2015 13:03:38,NaN,95.0,73.0
17547,29/03/2015 21:03:44,0.0,NaN,NaN
17548,29/03/2015 22:00:47,8.0,60.0,50.0
17549,30/03/2015 13:49:47,9.0,91.0,63.0
17550,30/03/2015 14:53:06,8.0,75.0,68.0
17551,30/03/2015 17:31:14,3.0,60.0,65.0
17552,30/03/2015 22:16:57,8.0,95.0,86.0
17553,30/03/2015 22:17:24,8.0,95.0,86.0
17554,30/03/2015 23:18:25,7.0,70.0,94.0
17555,31/03/2015 07:02:44,NaN,79.0,75.0
17556,31/03/2015 19:22:14,8.0,0.0,0.0
17557,11/01/2016 06:18:34,8.0,NaN,NaN
17558,20/05/2016 13:48:07,1.0,NaN,NaN
17559,17/09/2016 05:37:22,NaN,378.0,NaN
17560,17/09/2016 05:37:43,NaN,279.0,NaN
17561,NaN,NaN,0.0,NaN
17562,NaN,7.0,NaN,NaN

In [5]:
#Preenchendo os campos nulos com a média da coluna pertecente
dataset['How many hours did you sleep last night?'].fillna(dataset['How many hours did you sleep last night?'].mean(), inplace=True)
dataset['Recognition Score'].fillna(dataset['Recognition Score'].mean(), inplace=True)
dataset['Temporal Memory Score'].fillna(dataset['Temporal Memory Score'].mean(), inplace=True)
dataset

,Timestamp,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score
0,11/12/2012 18:16:31,7.000000,91.000000,86.000000
1,13/12/2012 14:31:16,6.539718,95.000000,78.000000
2,13/12/2012 14:31:30,7.000000,95.000000,56.000000
3,13/12/2012 14:32:01,5.000000,91.000000,81.000000
4,13/12/2012 14:34:07,6.539718,100.000000,75.000000
5,13/12/2012 14:34:16,7.000000,87.000000,80.000000
6,13/12/2012 14:35:50,6.539718,91.000000,95.000000
7,13/12/2012 14:36:36,6.539718,95.000000,91.000000
8,13/12/2012 14:44:30,6.539718,91.000000,81.000000
9,13/12/2012 14:44:57,7.000000,91.000000,86.000000
10,13/12/2012 14:48:38,8.000000,100.000000,79.000000
11,13/12/2012 14:54:44,6.539718,100.000000,87.000000
12,13/12/2012 14:58:49,8.000000,95.000000,73.000000
13,13/12/2012 15:01:56,7.000000,79.000000,78.000000
14,13/12/2012 15:03:48,5.000000,91.000000,81.000000
15,13/12/2012 15:07:31,7.000000,100.000000,95.000000
16,13/12/2012 15:08:34,6.539718,100.000000,70.000000
17,13/12/2012 15:12:18,6.539718,100.000000,95.000000
18,13/12/2012 15:30:14,7.000000,83.000000,90.000000
19,13/12/2012 16:00:34,6.539718,95.000000,73.000000
20,13/12/2012 16:07:53,4.000000,91.000000,86.000000
21,13/12/2012 16:08:13,4.000000,95.000000,73.000000
22,13/12/2012 18:48:48,6.539718,100.000000,100.000000
23,13/12/2012 20:19:32,7.000000,70.000000,82.000000
24,14/12/2012 01:42:31,8.000000,95.000000,100.000000
25,14/12/2012 01:55:20,9.000000,45.000000,54.000000
26,14/12/2012 10:58:26,6.539718,100.000000,79.000000
27,16/12/2012 11:43:14,9.000000,95.000000,78.000000
28,16/12/2012 11:58:39,8.000000,83.000000,70.000000
29,16/12/2012 12:12:48,8.000000,95.000000,78.000000
...,...,...,...,...
17533,24/03/2015 08:55:34,8.000000,83.000000,90.000000
17534,24/03/2015 13:56:19,7.000000,50.000000,100.000000
17535,25/03/2015 02:34:11,8.000000,100.000000,87.000000
17536,25/03/2015 09:55:20,7.000000,68.000000,68.000000
17537,25/03/2015 11:35:10,0.000000,45.000000,54.000000
17538,25/03/2015 13:43:30,0.000000,88.000000,100.000000
17539,25/03/2015 13:58:35,0.000000,90.000000,90.000000
17540,25/03/2015 13:58:54,8.000000,90.000000,90.000000
17541,25/03/2015 14:26:12,7.000000,60.000000,50.000000
17542,25/03/2015 14:38:43,6.539718,84.000000,72.000000
17543,25/03/2015 17:44:39,6.539718,65.000000,70.000000
17544,26/03/2015 17:27:39,6.539718,100.000000,100.000000
17545,26/03/2015 21:00:22,7.000000,95.000000,86.000000
17546,28/03/2015 13:03:38,6.539718,95.000000,73.000000
17547,29/03/2015 21:03:44,0.000000,91.146465,78.660914
17548,29/03/2015 22:00:47,8.000000,60.000000,50.000000
17549,30/03/2015 13:49:47,9.000000,91.000000,63.000000
17550,30/03/2015 14:53:06,8.000000,75.000000,68.000000
17551,30/03/2015 17:31:14,3.000000,60.000000,65.000000
17552,30/03/2015 22:16:57,8.000000,95.000000,86.000000
17553,30/03/2015 22:17:24,8.000000,95.000000,86.000000
17554,30/03/2015 23:18:25,7.000000,70.000000,94.000000
17555,31/03/2015 07:02:44,6.539718,79.000000,75.000000
17556,31/03/2015 19:22:14,8.000000,0.000000,0.000000
17557,11/01/2016 06:18:34,8.000000,91.146465,78.660914
17558,20/05/2016 13:48:07,1.000000,91.146465,78.660914
17559,17/09/2016 05:37:22,6.539718,378.000000,78.660914
17560,17/09/2016 05:37:43,6.539718,279.000000,78.660914
17561,NaN,6.539718,0.000000,78.660914
17562,NaN,7.000000,91.146465,78.660914

In [6]:
dataset.isnull().sum()

Timestamp                                   279
How many hours did you sleep last night?      0
Recognition Score                             0
Temporal Memory Score                         0
dtype: int64

In [7]:
len( dataset[ dataset['How many hours did you sleep last night?'] > 24])

0

In [8]:
len( dataset[ dataset['Recognition Score'] > 100])

281

In [9]:
len( dataset[ dataset['Temporal Memory Score'] > 100])

4

In [10]:
dataset.to_csv('BBC-Results.csv', sep=',', index= False)